.header {
    height: 100px;
    width: 100px;
    background-color: red;
}
.header1 {
    height: 100px;
    width: 100px;
    background-color: red;
    /* postavitev na desno stran zaslona */
    margin-left: auto;
}
.google {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
boogle_moj.css: